<style>
   
    
    :host(.page1Container) {
        display: inline-block;
        position: fixed;
        width: 100%;
        -webkit-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }
    
    :host(.page1Container.ng-enter) {
        /*transform: rotateX(-180deg)*/
        opacity:0;  /* make things invisible upon start */
          -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
          -moz-animation:fadeIn ease-in 1;
          animation:fadeIn ease-in 1;

          -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
          -moz-animation-fill-mode:forwards;
          animation-fill-mode:forwards;

          -webkit-animation-duration:1s;
          -moz-animation-duration:1s;
          animation-duration:1s;
    }
    
    :host(.page1Container.ng-enter-active) {
        /*transform: rotateX(0deg)*/
    }

    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

</style>

<div class="row">
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-8">
        <div class="box">
            <div class="box-header b-b">
                Level 1 > Package
            </div>
            <div class="box-body" style="color: #0CC2AA;">
               <div class="row">
                  <div class="col-md-4">Name : Jhon Doe</div>
                  <div class="col-md-4">User ID : USR-884858</div>
                  <div class="col-md-4">Date : {{date | date:'fullDate'}}</div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-6">
                        <form #myForm = "ngForm" (ngSubmit)="onAddItem()">
                          <div class="form-group">
                            <label>Select Food Item</label>
                            <select class="form-control" ngControl="foodName" [(ngModel)]="newPackage.foodName" required>
                              <option>Apple</option>
                              <option>Orange</option>
                              <option>Oats</option>
                              <option>Caret</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select Time</label>
                            <select class="form-control" ngControl="time" [(ngModel)]="newPackage.time" required>
                              <option>Morning</option>
                              <option>Noon</option>
                              <option>Evening</option>
                              <option>Night</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter Quantity</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="5 Nos." ngControl="qty" [(ngModel)]="newPackage.qty" required>     
                        </div>
                        <div class="form-group">
                        <label for="exampleInputEmail1">Notes</label>
                        <textarea class="form-control" rows="3" placeholder="Enter Notes" ngControl="notes" [(ngModel)]="newPackage.notes" required></textarea>
                        </div>
                          
                          <button type="submit" class="btn btn-warning pull-right"  >Add To Bucket</button>
                        </form>
                    </div>
                    <div class="col-md-6 ">
                        <label>Bucket</label>
                        
                            <div class="bucket ">
                                <ol>
                                  <li style="color:black;" 
                                    *ngFor = "#contact of contacts">
                                      {{contact.userId}} {{contact.foodName}}
                                     &nbsp; <i class="glyphicon glyphicon-remove text-danger" style="font-size: 10px;"></i></li>
                                </ol>
                            </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
