<nav class="navbar navbar-default  topbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#"><img style="margin-top: -10px;" src="./assets/images/logo.png"></a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li [class.active]="getLinkStyle('/dashboard')"><a [routerLink]="['Dashboard']">Create Package</a></li>
                <li [class.active]="getLinkStyle('/levelone')"><a [routerLink]="['LevelOne']">Level 1</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- TODO : Needs Move It To App Component
  <router-outlet></router-outlet> -->
