.topbar{
	width: 100%;
	background-color: #fff;
	z-index: 1020;
	box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
	height: auto;
	border-radius: 0px;

}

.active{

	border-bottom: 2px solid #0cc2aa;
}
.box{

    background-color: #fff;
    width: 100%;
    height: auto;
    box-shadow: 0 0 1px rgba(0,0,0,.15);


}
.b-b {
    border-bottom: 1px solid rgba(120,130,140,.13);
}
.box-body, .box-footer, .box-header {
    padding: 1rem;
}
.box-header {
	    font-weight: 400;
}